.nav-bar-wrapper {
    display: flex;
    flex-direction: column;
    padding: 40px 10px 40px;
    width: 80px;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    top: 40px;
}

.nav-bar-wrapper .nav-link-wrapper{

}

.nav-bar-wrapper .nav-link-wrapper .navlink {
    display: block;
    margin-bottom: 30px;
    background-color: #E9E9E9;
    padding: 10px;
    border-radius: 50%;
    transition: .2s;
}

.nav-bar-wrapper .nav-link-wrapper .navlink:hover{
    background-color: red;
}

.nav-bar-wrapper .nav-link-wrapper img {
    width: 26px;
    height: 26px;
}