*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body::-webkit-scrollbar {
    width: 8px;               /* ширина всей полосы прокрутки */
}

body::-webkit-scrollbar-track {
    background: #fff;        /* цвет зоны отслеживания */
}

body::-webkit-scrollbar-thumb {
    background-color: #3B5998;    /* цвет бегунка */
    border-radius: 20px;       /* округлось бегунка */
    /*border: 3px solid orange;  !* отступ вокруг бегунка *!*/
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
/*font-family: 'Montserrat', sans-serif;*/

/*#edf2f6*/